@use "./reset";

$BG_MAIN: #060606;
$BG_BODY: #0c0c0c;
$COLOR_MAIN: #ccc;

// mixins
@mixin colorset_body {
  background-color: $BG_BODY;
  color: $COLOR_MAIN;
}

@mixin colorset_game {
  background-color: $BG_MAIN;
  color: $COLOR_MAIN;
}

@mixin default_box {
  padding: 0.6rem;
  width: 800px;
}

// elements, classes
body {
  @include colorset_body();
  margin: 0.6rem;
}

.comprehensive_container {
  @include colorset_game();
  display: flex;
  flex-flow: column;
  justify-content: baseline;
  margin: auto;
  margin-top: 2rem;
  padding: 0.4rem;
  width:  640px;
  height: 480px;
}

@mixin sub_container_common {
  display: flex;
  
}

.upper_container {
  display: flex;
  margin: auto;
  height: 6%;
}
.middle_container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 69%;
  // height: 280px;
  // width: 100%;
}
.lower_container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 25%;
  // height: 140px;
  // width: 100%;
}

.date_info_box {
  padding: 0.2rem;
  width: 100%;
}

@mixin middle_box_common {
  // border: solid 1px #ccc;
  margin: auto;
  padding: 0.4rem;
}

.hero_info_box {
  @include middle_box_common();
  width: 25%;
}

.image_box {
  @include middle_box_common();
  width: 45%;
}

.sub_info_box {
  @include middle_box_common();
  width: 25%;
}

.message_box {
  border: solid 1px #ccc;
  overflow-y: scroll;
  overflow-wrap: break-word;
  width: 100%;
  padding: 0.4rem;
  font-size: normal;
}