@use "./reset";

$BG_MAIN: #060606;
$BG_BODY: #0c0c0c;
$COLOR_MAIN: #ccc;

// mixins
@mixin colorset_body {
  background-color: $BG_BODY;
  color: $COLOR_MAIN;
}

@mixin colorset_game {
  background-color: $BG_MAIN;
  color: $COLOR_MAIN;
}

@mixin default_box {
  padding: 0.6rem;
  width: 800px;
}

// elements, classes
body {
  @include colorset_body();
  margin: 0.6rem;
}

.game_frame {
  @include colorset_game();
  margin: auto;
  margin-top: 2rem;
  width: 800px;
  height: 640px;
}

.upper_container {
  display: flex;
  margin: auto;
  width: 780px;
}
.middle_container {
  display: flex;
}
.lower_container {
  display: flex;
}

.date_time_box {
  border: solid 1px #ccc;
}
.right_info {
  border: solid 1px #ccc;
}
.middle_info {
  border: solid 1px #ccc;
}
.left_info {
  border: solid 1px #ccc;
}
.message_box {
  border: solid 1px #ccc;
}